<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">

        <div class="login-card">

            <h1>Welcome, {{ email }}</h1>

            <p class="subtitle">
                You have successfully logged in.
            </p>

            <a href="/logout">
                <button>Logout</button>
            </a>

        </div>

    </div>

</body>
</html>